* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lora', serif, 'Oxygen', sans-serif;
}

header {
	height:110vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/coffeebg.jpeg);
	background-size: cover;
	background-position: top;
}

nav {
	height: 75px;
	background-color: #8B4513;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 2px solid #FFF8DC;
	position: fixed;
	top: 0;
	z-index: 1000;
}

nav ul{
	display: flex;
	list-style-type: none;
	position: sticky;
}

nav ul li {
	margin: 0px 10px;
	padding: 10px;
}

nav ul li a {
	text-decoration: none;
	color: whitesmoke;
	background: #22160B;
	padding: 15px;
	border-radius: 10px;
	display: relative;
}

nav ul li a:hover {
	background: #D2691E;
	padding: 10px;
	border: 2px solid black;
}

.intro {
	text-align: center;
	margin-top: 50px;
	padding-top: 50px;
	justify-content: center;
	align-items: center;

}

.intro h1, h2, p {
	margin: 30px 0;
	padding-top: 10px;
	word-spacing: 3px;
	color: whitesmoke;

}

.intro h2 {
	font-size: 20px;
	word-spacing: 10px;
	font-family: 'Lora', serif
}

.intro h1 {
	word-spacing: 3px;
	font-size: 80px;
	color: whitesmoke;
	font-family: 'Lora', serif
}

.intro > p {
	margin: 20px 0;
	word-spacing: 3px;
	font-size: 25px;
	color: whitesmoke;
	font-family:'Oxygen', sans-serif;
}

.intro h4 {
	margin: 10px 0;
	word-spacing: 3px;
	font-size: 25px;
	color: whitesmoke;
}

hr {
	display: inline-block;
	margin: 0 45px;
	width: 70vw;
}

.btn-learn {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	font-size: 16px;
	position: relative;
	background: #D2691E;
	text-decoration: none;
}

.btn-learn:hover {
	background: #8B4513;
	border: 2px solid black;
	font-weight: bold;
}

.btn-learn a:hover {
	color: whitesmoke;
	text-decoration: none;
	background: #8B4513;
}

.btn-learn a:visited {
	color: whitesmoke;
	text-decoration: none;
	background: #8B4513;
}

.about-us {
	display: flex;
	padding: 8vh 0;
	justify-content: space-around;
}

.aboutsplit {
	display: inline-flex;

}

.logo img {
	margin-top: 25px;
	height: 350px;
	width: 400px;
}

.brief-intro {
	text-align: center;
	width: 30vw;
	margin-top: 10px;
	margin-left: 100px;
	padding-top: 15px;
}

.brief-intro h1 {
	font-size: 30px;
	padding-top: 25px;

}

.brief-intro p {
	font-size: 20px;
	color: black;
	text-align: justify;
	line-height: 25px;
	font-family: 'Oxygen', sans-serif;

}

.btn-more {
	background: #8B4513;
	border: 2px none;
	font-weight: bold;
	padding: 10px;
	border-radius: 20px;
	text-decoration: none;
}

.btn-more a {
	color: white;
	text-decoration: none;
}


.store-layout {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/wooditile.jpeg);
	background-size: cover;
	background-position: center;

}

.interior {
	display: flex;
	justify-content: space-around;
}

.store-layout h1 {
	padding-top: 60px;
	font-size: 60px;
	color: whitesmoke;
	text-align: center;
}

.look img {
	height: 400px;
	width: 600px;
	display: inline-block;
	padding: 40px;
	border-radius: 20px;

}

.menu {
	height: 120vh;
	display: inline-block;
	justify-content: space-around;
}

.menu h1 {
	padding-top: 80px;
	text-align: center;
	font-size: 50px;
}

.categories img {
	height: 200px;
	width: 300px;
	border: 3px solid #22160B;
	border-radius: 30px;
	
}

.categories-1, .categories-2, .categories-3 {
	padding: 10px 30px;
	margin: 20px 35px;

}

.categories img:hover {
	transform: scale(1.45);
	transition: 1.0s;
}

.contact-us {
	height: 75vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/woodbg.jpeg);
	background-size: cover;
	background-position: center;
	justify-content: space-around;
	display: flex;
	text-align: center;
	margin-top: 90px;
	color: white;
}

.contact, .icons, .gmap {
	padding-top: 30px;

}

.icons h6 {
	padding: 10px;
	font-size: 22px;
	font-family: 'Oxygen', sans-serif;
}

.icons h3 {
	padding: 5px;
	font-size: 25px;
	font-family: 'Lora', serif
}

.icons p {
	padding: 5px;
	font-size: 18px;
	font-family: 'Oxygen', sans-serif;
}

input {
	border: 2.0px solid black;
	margin: 20px 0;
	height: 40px;
	width: 25vw;
	border-radius: 10px;
	font-size: 17px;
	display: block;
}

.btn-submit {
	padding: 10px 20px;
	border-radius: 5px;
	background: #8B4513;
	color: whitesmoke;
	border-radius: 15px;
	font-size: 15px;
	text-decoration: none;
}

.icons {
	height: 110px;
	width: 300px;
	display: inline-block;
}

i {
	padding: 20px 20px;
	font-size: 65px;
	color: #fff;
	text-shadow: 1px 1px 1px #ccc;
}

iframe {
	margin-top: 12px;
	height: 300px;
	width: 400px;
}


/*Start of Media Queries for the 3 Platforms*/

/*Media Queries for Desktop*/
@media only screen and (min-width: 1200px) and (max-width:1300px) {
	hr {
		width: 60vw;
	}

	.menu {
		width: 100%;
	}

	.categories img {
		height: 190px; 
		width: 275px;
	}
	
}

/*Media Queries for Desktop (Resize)*/
@media only screen and (min-width: 100px) and (max-width: 680px) {
	nav ul li a {
		font-size: 11px;
		padding: 10px;
	}

	nav ul li {
		margin: 5px;
	}

	.intro h2 {
		font-size: 17px;
	}

	.intro h1 {
		font-size: 50px;
		margin-bottom: 5px;

	}
	.intro h4 {
		font-size: 20px;

	}
	.intro p {
		font-size: 18px;

	}

	.about-us img {
		height: 300px;
		width: 300px;
	}
	.about-us h1 {
		font-size: 20px;
	}

	.about-us p {
		font-size: 16px;
	}

	.brief-intro {
		margin-left: 10px;
	}

	.store-layout h1 {
		padding-top: 5px;
		font-size: 30px;
	}

	.store-layout {
		display: -inline-block;
	}

	.store-layout img {
		height: 200px;
		width: 320px;
		padding: 0 10px;
	}

	.menu img {
		height: 200px;
		width: 225px;
	}

	.contact-us {
		height: 190vh;
		display: inline-block;
		width: 100%;
		justify-content: center;
	}

	input {
		height: 40px;
		width: 75vw;
		margin-left: 70px;
	}
}



/*Media Queries for mobile*/
@media only screen and (min-width: 375px) and (max-width: 600px) {	
	header {
		width: 26.9rem;
		height: 105vh;
	}
	nav ul{
		font-size: 8px;
		display: relative;
	}

	nav ul li {
		padding: 0;
	}
	.intro h2 {
		font-size: 12px;
	}

	.intro h1 {
		font-size: 35px;

	}
	.intro h4 {
		font-size: 22px;

	}
	.intro p {
		font-size: 18px;

	}

	hr {
	display: inline-block;
	width: 70vw;
	}

	.about-us {
		display: inline-block;
		height: 130vh;
		margin: 10px 30px;
		padding-top: 5px;
	}

	.about-us img {
		width: 370px;
	}

	.brief-intro {
		position: absolute;
		width: 100%;
		margin-left: 0;
		margin-top: 55vh;

	}

	.store-layout {
		width: 26.9rem;
		height: 100vh;
	}

	.store-layout h1 {
		padding-top: 15px;
	}

	.interior {
		display: block;
	}

	.interior img {
		height: 300px;
		width: 400px;
		margin: 0 20px;
		padding-top: 10px;
	}

	input {
		height: 40px;
		width: 90vw;
		margin-left: 50px;
	}

	iframe {
		height: 300px; 
		width: 340px;
	}

	.contact-us {
		height: 170vh;
		width: 26.9rem;
		display: block;
	}
}

/*Media Queries for Tablet*/
@media only screen and (min-width: 768px) and (max-width: 800px) {	
	header{
		width: 96rem;
		height: 75vh;
	}

	hr {
		width: 80vw;
	}

	.about-us {
		height: 70vh;
		display: -inline-flex;
		width: 90rem;
	}

	.aboutsplit img {
		height: 400px;
	}

	.brief-intro {
		width: 30rem;
		margin-top: 40px;
	}

	.store-layout {
		width: 95.5rem;

	}

	.store-layout h1 {
		padding-top: 20px;
	}

	.interior {
		display: flex;
		justify-content: center;
	}

	.interior img {
		height: 350px;
		width: 500px;
		margin: 0 30px;
	}

	menu {
		width: 100rem;
		justify-content: space-around;
		display: block;
		padding: 90px;
	}

	.categories h1 {
		padding-top: 50px;
	}

	.categories {
		margin: 0 40px;
		width: 90rem;
		padding-top: 70px;
	}

	.categories img {
		margin: 0 10px;
	}

	.contact-us {
		width: 95.5rem;
		height: 50vh;
		margin-top: 20px;
	}

}
