* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.topcontent {
	height: 52vh;
	display: flex;
	justify-content: space-around;
	text-align: center;
	justify-content: center;
	background-image: url(../images/woodleaves.png);
	background-position: center;
	background-size: cover;

}

.topcontent img {
	height: 300px;
	width: 300px;
}

.topcontent h1 {
	color: whitesmoke;
	font-size: 30px;
	font-family: 'Lora', serif;
	border-bottom: 4px solid brown;
	font-weight: bold;
	padding-bottom: 10px;
}

.topcontent p {
	color: whitesmoke;
	font-size: 20px;
	margin-top: 20px;
	text-align: justify;
	overflow-x: hidden;
	font-family: 'Oxygen', sans-serif;

}

.leftview, .rightview {
	height: 40px;
	width: 25vw;
	margin-top: 90px;
}


.overview {
	height: 50vh;
	padding: 20px 0;
	text-align: center;
	align-items: center;
	justify-content: space-around;
}

.overview h1 {
	font-family: 'Lora', serif;
	font-size: 30px;
}

.overview p {
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
}

.first, .second {
	margin: 10px 90px;
	padding: 10px 0;
	font-size: 25px;
	justify-content: center;
	text-align: justify;
	text-indent: 40px;
}

.franchise {
	height: 50vh;
	justify-content: space-around;
	display: flex;
	margin-left: 50px;
}

.slogan img {
	height: 50vh;
	width: 20vw;
	margin-bottom: 10px;
	margin-left: 60px;
}

.details {
	font-size: 20px;
	padding: 20px;
	margin: 0 50px;
}

.details h1 {
	font-size: 30px;
	font-family: 'Lora', serif;
}

.details p {
	padding: 5px;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
}

.moredetails {
	display: inline-block;
}

/*Copy*/

.inquiries {
	height: 60vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/woodbg.jpeg);
	background-size: cover;
	background-position: center;
	justify-content: space-around;
	display: flex;
	text-align: center;
	padding: 60px;
	color: white;
	align-items: center;
	margin-top: 30px;
}

input {
	border: 2.0px solid black;
	margin: 20px 0;
	height: 40px;
	width: 25vw;
	border-radius: 10px;
	font-size: 17px;
	display: block;
}

.btn-submit {
	padding: 10px 20px;
	border-radius: 5px;
	background: #8B4513;
	color: whitesmoke;
	border-radius: 15px;
	font-size: 15px;
	text-decoration: none;
}

.icons {
	width: 300px;
	display: inline-block;

}

i {
	padding: 20px 20px;
	font-size: 65px;
	color: #fff;
	text-shadow: 1px 1px 1px #ccc;
}

iframe {
	margin-top: 12px;
	height: 300px;
	width: 400px;
}


/*Start of Media Queries for the 3 platforms*/

/*Media Query for mobile*/
@media only screen and (min-width: 375px) and (max-width: 600px) {
	.topcontent {
		height: 35vh;
		width: 30.5rem;
	}

	.topcontent h1 {
		font-size: 20px ;
		font-family: 'Lora', serif;
	}

	.topcontent p {
		font-size: 11px;
		font-family: 'Oxygen', sans-serif;
	}

	.topcontent img {
		margin-top: 30px;
		height: 160px;
		width: 190px;
	}

	.leftview, .rightview {
		width: 30vw;
		margin: 60px 0;
	}

	.overview {
		height: 65vh;
		width: 30.5rem;
	}

	.first, .second {
		margin: 15px;
	}

	.overview h1 {
		font-size: 25px;
	}

	.franchise {
		margin: 0;
		width: 30.5rem;
		height: 50vh;
	}

	.slogan img {
		height: ;
		width: 220px;
		margin: 0;
	}

	.details {
		width: 90vw;
		margin: 0;
		padding: 0 5px;
	}

	.details h1 {
		margin-top: 5px;
		font-size: 22px;
	}
	.details p {
		font-size: 17px;
	}

	.inquiries {
		width: 30.5rem;
		height: 72rem;
		display: block;
	}

	.inquiries h3 {
		font-size: 25px;
		font-family: 'Lora', serif; 
	}

	.inquiries p {
		font-size: 22px;
		font-family: 'Oxygen', sans-serif;
	}

	input {
		width: 95vw;
	}

	.icons {
		margin-top: 25px;
	}

	.gmap {
		margin-top: 20px;
		display: inline-block;
	}
}

/*End of Media Query for Mobile*/

/*Start of Media Query for Tablet*/

@media only screen and (min-width: 768px) and (max-width: 900px) {
	.topcontent {
		height: 40vh;
	}	

	.topcontent img {
		margin: 50px 0;
	}

	.leftview, .rightview {
		margin: 120px 0;
	}

	.overview {
		padding-top: 30px;
		height: 40vh;
	}

	.overview h1 {
		font-size: 30px;
	}

	.overview p {
		font-size: 22px;
	}

	.franchise {
		height: 40vh;
	}

	.slogan img {
		height: 350px;
		width: 250px;
		margin-left: 20px;
	}

	.details {
		height: 25rem;
		margin: 0;
	}

	.inquiries {
		display: block;
		height: 108vh;
	}

	.inquiries h3 {
		font-size: 30px;
	}

	.inquiries h6 {
		font-size: 25px;
	}

	.inquiries p {
		font-size: 22px;
	}

	.inquire {
		display: inline-block;
	}

	input {
		width: 50vw;
	}

	.icons {
		margin-top: 30px;
	}

	.gmap {
		margin-top: 30px;
	}
}

/*End of Media Query for Tablet*/
